* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.content {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background: #1b1b1b;
    width: 100%;
    height: 100%;
}

.product_collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
}

.product_card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
